# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Generated images
public/generated/*
!public/generated/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/products/.gitkeep
!public/uploads/cutouts/.gitkeep

# Debug
npm-debug.log*
.pnpm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Puppeteer
.cache/
